*{
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
}

body{
  background-image: url('./images/cool-background.png');
  color: white;
  background-size: cover;
}

.socials{
  position: fixed;
  background-color: rgba(255, 255, 255, 0.76);
  right: 0;
  margin-right: 5px;
  top: 40%;
  border-radius: 20px;
  padding: 5px;
}

.socials li{
  list-style: none;
}

.socials img{
  width: 30px; 
}

.socials img:hover{
  transform: scale(1.3);
  transition: all 0.5s ease;
}

nav a{
  text-decoration: none;
  color: white;
}

nav{
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.185);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

nav img{
  width: 250px;
}

nav ul{
  display: flex;
  justify-content: space-between;
}

nav li{
  list-style-type: none;
  margin: 40px;
}

nav li:hover{
  color: rgb(173, 255, 47);
  cursor: pointer;
}

main{
  margin-top: 60px;
}

main section{
  margin-top: 40px;
}

h2{
  padding-bottom: 50px;
}

.hero{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 150px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
}

.greet{
  text-align: start;
  animation: 
    typing 5s steps(40, end),
    blink-caret .75s step-end;
}

.my_name{
  font-size: 80px;
  text-align: center;
  animation: 
    typing 5s steps(40, end),
    blink-caret .5s step-end;
}

.my_job{
  color: rgb(173, 255, 47);
  text-align: end;
  animation: 
    typing 5s steps(40, end),
    blink-caret .75s step-end;
}

.cv_button{
  margin-top: 40px;
  background-color: rgb(132, 219, 0);
  color: white;
  border-radius: 15px;
  border: none;
  width: 150px;
  height: 50px;
}

.cv_button:hover{
  background-color: rgb(107, 179, 0);
}

.lazy_load{
  opacity: 0;
	transform: translateX(-100%);
	transition: 1.5s all ease;
}

article{
  text-align: center;
  line-height: 40px;
  margin-bottom: 250px;
}

h2{
  font-size: 50px;
  margin: 80px;
  text-align: center;
}

article span{
  color: rgb(173, 255, 47);
}

.my_chart{
  width: 900px;
  background-color: rgba(14, 14, 14, 0.5);
  border-radius: 20px;
}

.skills{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 250px;
}

.skills_text p{
  text-align: center;
  font-size: 35px;
  font-family: fantasy;
}

.skills_text p:hover{
  transform: rotateZ(-30deg);
}

.project_card{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.card{
  width: 300px;
  height: 400px;
  background-color: rgb(14, 14, 14);
  border-radius: 20px;
  line-height: 40px;
  transition: all 0.3s;
}

.card:hover{
  box-shadow: 0px 10px 10px 10px rgba(14, 14, 14, 0.781);
  transform: scale(1.1);
}

.card p{
  font-size: small;
}

.card p span{
  font-size: medium;
  margin-right: 5px;
}

.card_image{
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.card_button{
  background-color: rgb(132, 219, 0);
  width: 80%;
  height: 40px;
  border-radius: 20px;
  margin-left: 5%;
  margin-top: 20px;
}

.card_button:hover{
  background-color: rgb(107, 179, 0);
  cursor: pointer;
}

.em_breve{
  display: flex;
  align-items: center;
  text-align: center;
}

.em_breve span{
  font-size: 60px;
}

.card_description{
  margin-left: 20px;
}

.html{
  color: rgb(255, 136, 0);
}

.css{
  color: rgb(165, 42, 42);
}

.js{
  color: rgb(255, 255, 0);
}

.api{
  color: rgb(128, 128, 128);
}

.react{
  color: rgb(0, 253, 55);
}

.redux{
  color: rgb(127, 255, 212);
}

.projects{
  margin-bottom: 200px;
}

.contact{
  display: flex;
  justify-content: space-evenly;
}

footer{
  height: 80px;
  margin-top: 100px;
  background-color: rgb(14, 14, 14);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
