@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}

body{
  background-color: #025300;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23031B00'/%3E%3Cstop offset='1' stop-color='%23025300'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23033700'/%3E%3Cstop offset='1' stop-color='%23025300'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: rgb(255, 255, 255);
  
}

.socials{
  position: fixed;
  background-color: rgba(255, 255, 255, 0.87);
  right: 0;
  margin-right: 5px;
  top: 60%;
  border-radius: 20px;
  padding: 5px;
  z-index: 5;
}

.socials img{
  width: 35px; 
}

.socials img:hover{
  transform: scale(1.3);
  transition: all 0.5s ease;
}

nav a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

nav{
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.185);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

nav img{
  width: 250px;
}

nav ul{
  display: flex;
}

nav li{
  padding-right: 40px;
}

nav li:hover{
  color: rgb(173, 255, 47);
}

main{
  margin-top: 80px;
}

main section{
  margin-top: 40px;
}

h2{
  padding-bottom: 50px;
}

.hero{
  margin: auto;
  background-color: #025300;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.781);
  border-radius: 20px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}

.hero_section_img{
  background-color: rgba(1, 46, 0, 0.575);
  border-radius: 40%;
  overflow: hidden;
}

.hero_section_img img{
  width: 400px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
}

.greet{
  text-align: start;
  animation: 
    typing 5s steps(40, end),
    blink-caret .75s step-end;
}

.my_name{
  font-size: 80px;
  text-align: center;
  animation: 
    typing 5s steps(40, end),
    blink-caret .5s step-end;
}

.my_job{
  color: rgb(173, 255, 47);
  text-align: end;
  animation: 
    typing 5s steps(40, end),
    blink-caret .75s step-end;
}

.wellcome{
  margin-top: 100px;
}

.cv_button{
  margin-top: 40px;
  margin-bottom: 20px ;
  background-color: rgb(132, 219, 0);
  color: white;
  border-radius: 15px;
  border: none;
  width: 150px;
  height: 50px;
}

.cv_button:hover{
  background-color: rgb(107, 179, 0);
}

.lazy_load{
  opacity: 0;
	transform: translateX(-100%);
	transition: 1.5s all ease;
}

article{
  text-align: center;
  line-height: 40px;
  margin-bottom: 200px;
}

h2{
  font-size: 50px;
  margin: 80px;
  text-align: center;
}

article span{
  color: rgb(173, 255, 47);
}

.skills{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 200px;
}

.skills_text p{
  text-align: center;
  font-size: 35px;
  font-family: fantasy;
}

.skills_text p:hover{
  transform: rotateZ(-30deg);
}

.techs{
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  gap: 50px;
}

.techs img{
  width: 100px;
}

.techs div:hover{
  transform: scale(0.9);
  transition: all 0.5s ease;
}

.project_card{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.card{
  width: 300px;
  height: 400px;
  background-color: rgb(14, 14, 14);
  border-radius: 20px;
  line-height: 40px;
  transition: all 0.3s;
}

.card:hover{
  box-shadow: 0px 10px 10px 10px rgba(14, 14, 14, 0.781);
  transform: scale(1.1);
}

.card p{
  font-size: small;
}

.card p span{
  font-size: medium;
  margin-right: 5px;
}

.card_image{
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.card_button{
  background-color: rgb(132, 219, 0);
  width: 80%;
  height: 40px;
  border-radius: 20px;
  margin-left: 5%;
  margin-top: 20px;
}

.card_button:hover{
  background-color: rgb(107, 179, 0);
  cursor: pointer;
}

.em_breve{
  display: flex;
  align-items: center;
  text-align: center;
}

.em_breve span{
  font-size: 60px;
}

.card_description{
  margin-left: 20px;
}

.html{
  color: rgb(255, 136, 0);
}

.css{
  color: rgb(165, 42, 42);
}

.js{
  color: rgb(255, 255, 0);
}

.api{
  color: rgb(128, 128, 128);
}

.react{
  color: rgb(0, 253, 55);
}

.redux{
  color: rgb(127, 255, 212);
}

.projects{
  margin-bottom: 200px;
}

.contact{
  display: flex;
  justify-content: space-evenly;
}

form{
  display: flex;
  flex-direction: column;
}

form input{
  width: 500px;
  padding: 10px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.432);
  color: rgb(255, 255, 255);
}

form textarea{
  background-color: rgba(255, 255, 255, 0.432);;
  color: rgb(255, 255, 255);
}

footer{
  height: 80px;
  margin-top: 100px;
  background-color: rgb(14, 14, 14);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hamburguer_menu{
  display: none;
}

.hamburguer_menu div{
  width: 32px;
  height: 2px;
  background: rgb(132, 219, 0);
  margin: 10px;
}

.active{
  display: block;
  margin-top: 240px;
  background-color: rgba(27, 27, 27, 0.9);
  width: 100%;
  position: absolute;
}

.active li{
  padding: 10px;
  text-align: center;
  width: 100%;
}

@media(max-width: 1070px) {
  .hero_section_img img{
    display: none;
  }
}

@media(max-width: 700px) {
  nav ul{
    display: none;
  }
  .hamburguer_menu{
    display: block;
  }
  .skills{
    flex-direction: column-reverse;
  }
  .skills_text{
    display: flex;
    margin: auto;
    margin-bottom: 70px;
  }
  .techs{
    width: 100%;
    justify-content: space-evenly;
  }
  .techs img{
    width: 70px;
  }
}

@media(max-width: 620px) {
  .my_name{
    font-size: 50px;
  }
  .socials img{
    width: 25px;
  }
  .wellcome{
    font-size: smaller;
  }
  form input{
    width: 300px;
  }
}

@media(max-width: 400px) {
  .my_name{
    font-size: 35px;
  }
  nav img{
    width: 200px;
  }
  .card{
    height: 440px;
  }
}